<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2015, Praxigento
 * All rights reserved.
 */
-->
<!-- http://www.magentocommerce.com/wiki/5_-_modules_and_development/reference/module_config.xml -->
<config>
    <modules>
        <Praxigento_Bonus>
            <version>0.0.1</version>
        </Praxigento_Bonus>
    </modules>
    <admin>
        <routers>
            <prxgt_bonus_router>
                <use>admin</use>
                <args>
                    <module>Praxigento_Bonus</module>
                    <frontName>prxgt_bonus_route</frontName>
                </args>
            </prxgt_bonus_router>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Praxigento_Bonus>
                    <files>
                        <default>Praxigento_Bonus.csv</default>
                    </files>
                </Praxigento_Bonus>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <models>
            <prxgt_bonus_model>
                <class>Praxigento_Bonus_Model</class>
                <resourceModel>prxgt_bonus_resource</resourceModel>
            </prxgt_bonus_model>
            <prxgt_bonus_resource>
                <class>Praxigento_Bonus_Resource</class>
                <entities>
                    <own_order>
                        <table>prxgt_bonus_order</table>
                    </own_order>
                    <own_payout>
                        <table>prxgt_bonus_payout</table>
                    </own_payout>
                    <own_payout_transact>
                        <table>prxgt_bonus_payout_transact</table>
                    </own_payout_transact>
                    <own_transact>
                        <table>prxgt_bonus_transact</table>
                    </own_transact>
                </entities>
            </prxgt_bonus_resource>
        </models>
        <resources>
            <prxgt_bonus>
                <setup>
                    <module>Praxigento_Bonus</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </prxgt_bonus>
        </resources>
        <helpers>
            <prxgt_bonus_helper>
                <class>Praxigento_Bonus_Helper</class>
            </prxgt_bonus_helper>
        </helpers>
        <events>
            <sales_order_place_after>
                <observers>
                    <prxgt_intr_observer>
                        <type>singleton</type>
                        <class>prxgt_bonus_model/own_observer</class>
                        <method>onSalesOrderPlaceAfter</method>
                    </prxgt_intr_observer>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
</config>