<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2015, Praxigento
 * All rights reserved.
 */
-->
<!-- http://www.magentocommerce.com/wiki/5_-_modules_and_development/reference/module_config.xml -->
<config>
    <modules>
        <Praxigento_Bonus>
            <version>0.0.1</version>
        </Praxigento_Bonus>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Praxigento_Bonus after="Mage_Adminhtml">Praxigento_Bonus_Adminhtml</Praxigento_Bonus>
                    </modules>
                </args>
            </adminhtml>
            <prxgt_bonus_adminer>
                <use>admin</use>
                <args>
                    <module>Praxigento_Bonus</module>
                    <frontName>prxgt_bonus_admin</frontName>
                </args>
            </prxgt_bonus_adminer>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <prxgt_bonus>
                    <file>prxgt/bonus/layout.xml</file>
                </prxgt_bonus>
            </updates>
        </layout>
        <translate>
            <modules>
                <Praxigento_Bonus>
                    <files>
                        <default>Praxigento_Bonus.csv</default>
                    </files>
                </Praxigento_Bonus>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <models>
            <prxgt_bonus_model>
                <class>Praxigento_Bonus_Model_Own</class>
                <resourceModel>prxgt_bonus_resource</resourceModel>
            </prxgt_bonus_model>
            <prxgt_bonus_resource>
                <class>Praxigento_Bonus_Resource_Own</class>
                <entities>
                    <account>
                        <table>prxgt_bonus_account</table>
                    </account>
                    <balance>
                        <table>prxgt_bonus_balance</table>
                    </balance>
                    <!-- configuration -->
                    <cfg_personal>
                        <table>prxgt_bonus_cfg_personal</table>
                    </cfg_personal>
                    <!-- details -->
                    <details_retail>
                        <table>prxgt_bonus_details_retail</table>
                    </details_retail>
                    <!-- logs -->
                    <log_account>
                        <table>prxgt_bonus_log_account</table>
                    </log_account>
                    <log_bonus>
                        <table>prxgt_bonus_log_bonus</table>
                    </log_bonus>
                    <log_downline>
                        <table>prxgt_bonus_log_downline</table>
                    </log_downline>
                    <log_order>
                        <table>prxgt_bonus_log_order</table>
                    </log_order>
                    <log_payout>
                        <table>prxgt_bonus_log_payout</table>
                    </log_payout>
                    <operation>
                        <table>prxgt_bonus_operation</table>
                    </operation>
                    <period>
                        <table>prxgt_bonus_period</table>
                    </period>
                    <!-- snapshots (current and historical) -->
                    <snap_bonus>
                        <table>prxgt_bonus_snap_bonus</table>
                    </snap_bonus>
                    <snap_downline>
                        <table>prxgt_bonus_snap_downline</table>
                    </snap_downline>
                    <transaction>
                        <table>prxgt_bonus_trnx</table>
                    </transaction>
                    <!-- types  -->
                    <type_asset>
                        <table>prxgt_bonus_type_asset</table>
                    </type_asset>
                    <type_bonus>
                        <table>prxgt_bonus_type_bonus</table>
                    </type_bonus>
                    <type_oper>
                        <table>prxgt_bonus_type_oper</table>
                    </type_oper>
                    <type_period>
                        <table>prxgt_bonus_type_period</table>
                    </type_period>
                </entities>
            </prxgt_bonus_resource>
        </models>
        <resources>
            <prxgt_bonus>
                <setup>
                    <module>Praxigento_Bonus</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </prxgt_bonus>
        </resources>
        <helpers>
            <prxgt_bonus_helper>
                <class>Praxigento_Bonus_Helper</class>
            </prxgt_bonus_helper>
        </helpers>
        <blocks>
            <prxgt_bonus_block>
                <class>Praxigento_Bonus_Block</class>
            </prxgt_bonus_block>
        </blocks>
        <events>
            <prxgt_core_customer_upline_change>
                <observers>
                    <prxgt_bonus_observer>
                        <type>singleton</type>
                        <class>prxgt_bonus_model/observer</class>
                        <method>onPrxgtCoreCustomerUplineChange</method>
                    </prxgt_bonus_observer>
                </observers>
            </prxgt_core_customer_upline_change>
            <sales_order_place_after>
                <observers>
                    <prxgt_bonus_observer>
                        <type>singleton</type>
                        <class>prxgt_bonus_model/observer</class>
                        <method>onSalesOrderPlaceAfter</method>
                    </prxgt_bonus_observer>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
    <default>
        <nmmlm_core_referrals>
            <general>
                <downline_depth>3</downline_depth>
            </general>
        </nmmlm_core_referrals>
    </default>
    <nmmlm>
        <!-- Implementation of the Nmmlm_Core_Factory used in the module's tests. -->
        <factory>
            <class>Praxigento_Bonus_Factory</class>
        </factory>
    </nmmlm>
</config>