<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2015, Praxigento
 * All rights reserved.
 */
-->
<!-- http://www.magentocommerce.com/wiki/5_-_modules_and_development/admin/xml_structure_for_admin_configurations -->
<config>
    <!-- "Praxigento" tab (prxgt) is defined in core module -->
    <sections>
        <!-- ************************************************* -->
        <!-- Referral Program section (defined in Core module) -->
        <!-- ************************************************* -->
        <nmmlm_core_referrals>
            <groups>
                <!-- "general" group is defined in core module -->
                <general translate="label">
                    <fields>
                        <downline_depth translate="label comment">
                            <label>Downline Depth</label>
                            <comment>Max depth of the downline tree.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>1100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </downline_depth>
                    </fields>
                </general>
                <personal_bonus translate="label">
                    <label>Personal Bonus</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>380</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <is_enabled translate="label comment">
                            <label>Enable Personal Bonus</label>
                            <comment>Switch on/off personal bonus processing.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </is_enabled>
                        <period translate="label comment">
                            <label>Calculation Period</label>
                            <comment>Period to caclulate bonus (daily, weekly, monthly).</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>prxgt_bonus_model/source_period</source_model>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <is_enabled>1</is_enabled>
                            </depends>
                        </period>
                        <period_last_day translate="label comment">
                            <label>The Last Day of the Period</label>
                            <comment>Bonus will be calculated including this day (Friday: from Thursday 00:00:00 up to Friday 23:59:59).</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>prxgt_bonus_model/source_weekday</source_model>
                            <sort_order>250</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <period>week</period>
                            </depends>
                        </period_last_day>
                        <payout_delay translate="label comment">
                            <label>Payout Delay</label>
                            <comment>Number of days to hold calculated bonus before payout.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>300</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <is_enabled>1</is_enabled>
                            </depends>
                        </payout_delay>
                        <use_compression translate="label comment">
                            <label>Enable Compression</label>
                            <comment>Enable downline tree compression.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>400</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <is_enabled>1</is_enabled>
                            </depends>
                        </use_compression>
                        <qualification_level>
                            <label>Qualification Level</label>
                            <comment>Minimal PV points to be qualified.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>500</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <is_enabled>1</is_enabled>
                                <use_compression>1</use_compression>
                            </depends>
                        </qualification_level>
                    </fields>
                </personal_bonus>
                <downline_bonus translate="label">
                    <label>Downline Bonus</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>390</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <is_enabled translate="label comment">
                            <label>Enable Downline Bonus</label>
                            <comment>Switch on/off downline bonus processing.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </is_enabled>
                        <is_unilevel translate="label comment">
                            <label>Use Unilevel</label>
                            <comment>Process downline bonus using Unilevel scheme.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </is_unilevel>
                    </fields>
                </downline_bonus>
                <!-- "retail_bonus" group is defined in core module -->
                <retail_bonus translate="label">
                    <fields>
                        <!-- AD-316: conflict with Nmmlm_Core module -->
                        <is_enabled translate="label comment">
                            <label>Enable Retail Bonus (Praxigento_Bonus)</label>
                            <comment>Switch on/off retail bonus processing.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>101</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </is_enabled>
                    </fields>
                </retail_bonus>
                <perk_bonus translate="label">
                    <label>Perk Bonus</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>500</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <is_enabled translate="label comment">
                            <label>Enable Perk Bonus</label>
                            <comment>Switch on/off perk bonus processing.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>101</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </is_enabled>
                    </fields>
                </perk_bonus>
            </groups>
        </nmmlm_core_referrals>
    </sections>
</config>